body {
    width: 100%;
    height: 100%;
    background-color: black;

    .container {
        max-width: 1440px;
        width: 100%;
        background-color: #141414;
        margin: 0 auto;

        .sidebar {
            width: 25%;
            float: left;
            max-height: 1092px;
            height: 100%;
            background-color: #141414;
            border-right: 1px solid #38383A;

            @media (max-width: 1018px) {
                width: 20%;
            }

            @media (max-width: 898px) {
                width: 10%;
                height: 1092px;
            }

            .sidebar-content {
                max-width: 228px;
                width: 100%;
                margin: 0 auto;
                padding-top: 60px;

                @media (max-width: 898px) {
                    display: flex;
                    justify-content: center;
                    padding-top: 36px;
                }

                .sidebar-burger {
                    display: none;

                    @media (max-width: 898px) {
                        display: block;
                        padding: 0 5px;
                    }
                }

                .logo {
                    margin-bottom: 56px;
                    cursor: pointer;

                    @media (max-width: 898px) {
                        display: none;
                    }
                }

                .navigation {
                    margin-bottom: 400px;

                    @media (max-width: 898px) {
                        display: none;
                    }

                    li {
                        max-width: 228px;
                        width: 100%;
                        height: 48px;                       
                        margin-bottom: 16px;
                        display: flex;
                        align-items: center;

                        .sidebar-a {
                            font-size: 14px;
                            color: #EBEBF599;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        

                        .home::before {
                            content: url('../images/home1.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }

                        .store::before {
                            content: url('../images/store.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }

                        .library::before {
                            content: url('../images/library.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }

                        .friends::before {
                            content: url('../images/friends.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }

                        .live::before {
                            content: url('../images/live.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }
                    }

                    li:hover {
                        background-color: #2F2F2F;
                        border-radius: 12px;
                    }
                    
                    }
                }

                .navigation2 {

                    margin-bottom: 50px;

                    @media (max-width: 898px) {
                        display: none;
                    }
                    
                    li {
                        max-width: 228px;
                        width: 100%;
                        height: 48px;                       
                        margin-bottom: 16px;
                        display: flex;
                        align-items: center;

                        .sidebar-a-2 {
                            font-size: 14px;
                            color: #EBEBF599;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .downloads::before {
                            content: url('../images/download.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }

                        .settings::before {
                            content: url('../images/settings.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }

                        .tung::before {
                            content: url('../images/tung.png');
                            margin-right: 15px;
                            padding-left: 30px;
                        }
                    }

                    li:hover {
                        background-color: #2F2F2F;
                        border-radius: 12px;
                    }
                }

            }

        .main-content {
            width: 75%;
            float: right;
            max-height: 1092px;
            height: 100%;
            background-color: #141414;

            @media (max-width: 1018px) {
                width: 80%;
            }

            @media (max-width: 898px) {
                width: 90%;
            }

            header {

                .container {
                    max-width: 1115px;
                    width: 100%;
                    padding: 40px 20px;
                    display: flex;
                    justify-content: space-between;

                    .left-side {
                        max-width: 250px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        @media (max-width: 750px) {
                            display: none;
                        }

                        li {
                            width: 78px;
                            height: 32px;
                            padding: 8px;

                            a {
                                font-size: 14px;
                                color: rgba(235, 235, 245, 0.6);
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 600;
                            }

                            a:hover {
                                color: #FFFFFF;
                            }

                            
                        }

                        li:hover {
                            background-color: #0061FD;
                            border-radius: 143px;
                        }
                    }

                    .right-side {
                        width: 374px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        input {
                            max-width: 318px;
                            width: 100%;
                            padding: 10px 10px 10px 40px;
                            background-color: #2F2F2F;
                            border-radius: 24px;
                            border-style: none;
                            color: #EBEBF5;

                            background-image: url(../images/lup.png);
                            background-size: 14px;
                            background-position: 12px center;
                            background-repeat: no-repeat;

                            @media (max-width: 441px) {
                                max-width: 250px;
                            }

                            @media (max-width: 368px) {
                                max-width: 200px;
                            }
                        }

                        // input [type="text"]::before {
                        //     content: url('../images/lup.png');
                        // }
                    }
                }
            }

            .s-1 {

                .container {
                    max-width: 1115px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0px 20px;

                    .s-1-left {
                        max-width: 908px;
                        width: 100%;
                        height: 448px;

                        background-image: url(../images/s-1-cover.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 12px 0px 0px 12px;

                        .s-1-title {
                            max-width: 446px;
                            width: 100%;
                            padding: 20px;

                            h3 {
                                font-size: 26px;
                                color: #FFFFFF;
                                font-family: 'Montserrat', sans-serif;
                                font-weight:800;
                                margin-bottom: 165px;
                            }

                            h6 {
                                font-size: 14px;
                                color: #FFFFFF;
                                font-family: 'Montserrat', sans-serif;
                                font-weight:600;
                                margin-bottom: 4px;
                            }

                            h2 {
                                font-size: 24px;
                                color: #FFFFFF;
                                font-family: 'Montserrat', sans-serif;
                                font-weight:800;
                                margin-bottom: 28px;
                                line-height: 34px;

                                @media (max-width: 557px) {
                                    font-size: 18px;
                                    line-height: 20px;
                                }
                            }

                            button {
                                width: 167px;
                                height: 56px;
                                border-radius: 14px;
                                background-color: #0061FD;
                                border-style: none;
                                color: #FFFFFF;
                                padding: 16px 18px;
                                cursor: pointer;

                                display: flex;
                                align-items: center;

                                @media (max-width: 557px) {
                                    width: 140px;
                                    height: 40px;
                                    font-size: 10px;
                                }
                            }

                            button::after {
                                content: url(../images/s-1-button.png);
                                margin-left: 12px;
                            }
                        }         
                    }

                    .s-1-right {
                        max-width: 200px;
                        width: 100%;
                        background-color: #2F2F2F;

                        border-radius: 0px 12px 12px 0px;

                        max-height: 448px;
                        height: 100%;
                        overflow: auto;

                        @media (max-width: 451px) {
                            max-width: 150px;
                        }

                        .s-1-card {
                            display: flex;
                            align-items: center;
                            padding: 8px 12px,;

                            img {
                                vertical-align: middle;
                                margin-right: 15px;

                                @media (max-width: 451px) {
                                    margin-right: 10px;
                                }
                            }

                            h5 {
                                font-size: 14px;
                                color: #FFFFFF;
                                font-family: 'Montserrat', sans-serif;
                                font-weight:600;
                                line-height: 17px;
                                cursor: pointer;

                                @media (max-width: 451px) {
                                    font-size: 11px;
                                }

                                @media (max-width: 401px) {
                                    font-size: 8px;
                                    font-weight: 500;
                                }
                            }

                            h5:hover {
                                color: #0061FD;
                            }
                        }

                        .s-1-card:hover {
                            border-bottom: 0.5px solid #FFFFFF;
                        }
                    }
                }
            }

            .s-2 {

                .container {
                    max-width: 1115px;
                    width: 100%;
                    padding: 44px 20px;

                    .first-line {
                        max-width: 1115px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;

                        h3 {
                            font-size: 16px;
                            color: #FFFFFF;
                            font-family: 'Montserrat', sans-serif;
                            font-weight:600;
                        }

                        .scroll {
                            width: 96px;
                            display: flex;
                            justify-content: space-between;

                            img {
                                cursor: pointer;
                            }
                        }
                    }

                    .second-line {
                        max-width: 1115px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        overflow: auto;
                        gap: 20px;

                        .s-2-card {
                            width: 195px;

                            img {
                                margin-bottom: 18px;
                                width: 195px;
                            }

                            h4 {
                                font-size: 14px;
                                color: #FFFFFF;
                                font-family: 'Montserrat', sans-serif;
                                font-weight:600;
                                line-height: 20px;
                                margin-bottom: 6px;
                                padding-left: 5px;
                            }

                            h5 {
                                font-size: 16px;
                                color: rgba(235, 235, 245, 0.6);
                                font-family: 'Montserrat', sans-serif;
                                font-weight:500;
                                line-height: 20px;
                                margin-bottom: 6px;
                                padding-left: 5px;
                            }

                            .price {
                                width: 143px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding-left: 5px;

                                .sale {
                                    font-size: 16px;
                                    color: #FFFFFF;
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight:500;
                                    line-height: 20px;
                                    margin-bottom: 6px;
                                }

                                .percent {
                                    background-color: #B1DD8B;
                                    border-radius: 6px;
                                    padding: 2px;

                                    font-size: 16px;
                                    color: #38571A;
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight:500;
                                    line-height: 20px;
                                    text-align: center;
                                    margin-bottom: 6px;
                                }

                                .old-price {
                                    font-size: 16px;
                                    color: rgba(235, 235, 245, 0.6);
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight:500;
                                    line-height: 20px;
                                    margin-bottom: 6px;
                                    text-decoration: line-through;
                                }
                            }
                        }

                        .s-2-card:hover {
                            background-color: #2F2F2F;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }

    }
}
